
    
    <section class="list">
        <div class="course"  *ngFor="let datas of serverDatas ; index as indexNumber">
          <div class="preview">
              <h6>{{indexNumber + 1}}. ▲ </h6>
              <h2>{{datas.title}}</h2>
              <a [href]='datas.url' >{{datas.url}}</a>
              
          </div>
          <div class="info">
            <!-- <div class="progress-wrapper">▲
              <div class="progress">

              </div>
              <span class="progress-text">4/9 Challanges</span>
            </div> -->
              <h5> {{datas.score}} points</h5>
              <h2> By {{datas.by}}</h2>
<!--              
              <h6> Posted at {{datas.time * 1000 | date:' HH:mm'}} </h6> -->
               <button class="btn"> {{datas.descendants}} comments </button>
              <!-- <h6> {{ currentTime }}</h6> -->
              
          </div>
        </div>
  </section>
  